autostart
dconf
fcitx
google-chrome
gtk-3.0
lemonbar
mimeapps.list
pavucontrol.ini
pnmixer
pulse
pulseaudio-ctl
SogouPY
SogouPY.users
sogou-qimpanel
sublime-text-3
systemd
Thunar
Trolltech.conf
vlc
xfce4
